<html xmlns:th = "http://www.thymeleaf.org">

<footer class="footer d-flex justify-content-center row" th:fragment="footerFragment">

<!-- SOCAIL ICONS -->
    <div class="socialIcons row w-25 col-lg-4 mb-4 pb-4">
            <div class="col-6 d-flex justify-content-end">
                <a href="#">
                    <i class="fab fa-facebook" ></i>
                </a>
            </div>
            <div class="col-6">
                <a href="#">
                    <i class="fab fa-instagram" ></i>
                </a>
            </div>
        </div>
<!-- CONTACT BUTTON -->
        <div class="d-flex justify-content-center col-sm-12 contactBtn mb-3">
            <a href="/kontakt" class="btn btn-light">Kontakt</a>

        </div>

<!-- CONTACT INFO -->
    <div class="row w-75 col-sm-12 buttonFooter">
            <div class="col-sm" align="center">
                <p>Tritræning.dk</p>
            </div>
            <div class="col-sm" align="center">
                <p>Fortly 2c Rødovre, 2610, Danmark</p>
            </div>
            <div class="col-sm" align="center">
                <p>tlf: +4528929598</p>
            </div>
            <div class="col-sm" align="center">
                <p>Email: Kim@tritræning.dk</p>
            </div>
            <div class="col-sm" align="center">
                <p>CVR: 40307354</p>
            </div>
        </div>
</footer>