<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b6a1220657.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Tritræning Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/user/blog.css" type="text/css" rel="stylesheet">
    <link href="/css/user/fragments.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b6a1220657.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div th:replace="fragments/navigation :: navigation"></div>
<div>
    <img class="bannerImg" src="/images/blogbanner.png">
</div>

</header>
<main class="blogMain">

<div>
    <h1 class="title" style="text-align: center">Blog</h1>
</div>

<div class="blogpost container" align="center">
    <div class="row w-75 blogtext" id="blog">
<!--                    FIRST ROW-->
<!--        <div class="col-sm-4">-->
<!--            <a href="#">-->
<!--            <img src="/images/saddle.jpg">-->
<!--            </a>-->
<!--            <p>Overskrift til blog opslag, som er super duper lang</p>-->
<!--            <p align="left">Af Kim d. 15/5-21</p>-->
<!--        </div>-->
<!--        <h1></h1>-->
<!--        <div class="col-sm-4">-->
<!--            <a href="#">-->
<!--            <img src="/images/jogging.jpg">-->
<!--            </a>-->
<!--            <p>Overskrift til blog opslag, som er super duper lang</p>-->
<!--            <p align="left">Af Kim d. 15/5-21</p>-->
<!--        </div>-->
<!--        <h1></h1>-->
<!--        <div class="col-sm-4">-->
<!--            <a href="#">-->
<!--            <img src="/images/water.jpg">-->
<!--            </a>-->
<!--            <p>Overskrift til blog opslag, som er super duper lang</p>-->
<!--            <p align="left">Af Kim d. 15/5-21</p>-->
<!--        </div>-->

<!--        <div class="col-sm-4">-->
<!--            <a href="#">-->
<!--                <img src="/images/saddle.jpg">-->
<!--            </a>-->
<!--            <p>Overskrift til blog opslag, som er super duper lang</p>-->
<!--            <p align="left">Af Kim d. 15/5-21</p>-->
<!--        </div>-->
<!--        <h1></h1>-->
<!--        <div class="col-sm-4">-->
<!--            <a href="#">-->
<!--                <img src="/images/jogging.jpg">-->
<!--            </a>-->
<!--            <p>Overskrift til blog opslag, som er super duper lang</p>-->
<!--            <p align="left">Af Kim d. 15/5-21</p>-->
<!--        </div>-->
<!--        <h1></h1>-->
<!--        <div class="col-sm-4">-->
<!--            <a href="#">-->
<!--                <img src="/images/water.jpg">-->
<!--            </a>-->
<!--            <p>Overskrift til blog opslag, som er super duper lang</p>-->
<!--            <p align="left">Af Kim d. 15/5-21</p>-->
<!--        </div>-->
    </div>
</div>
</main>
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
<script src="/js/user/blog.js"></script>
</html>